In [28]:
import boto3
import botocore
import pandas as pd
from sqlalchemy import create_engine
#declare bucket as a constant to use with AWS
BUCKET = "mindex-data-analytics-code-challenge"

#list of files to grab
files = ['bengals.csv', 'boyd_receiving.csv', 'chase_receiving.csv', 'higgins_receiving.csv']


#A good pattern to use here is a data acess object to handle connections
#For the sake of simplicity, I'll just use util functions

#define the s3 resource object
s3 = boto3.resource('s3')

#establish connection to the database
engine = create_engine('postgresql+psycopg2://hussein_hamdan:husseinhamdan@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres')

#Download util so I can take a look at the csv's locally
def download_csv(files):
    for file in files:
        #Keep the files name the same as the key
        try:
            s3.Bucket(BUCKET).download_file(file,file)
        except botocore.exceptions.ClientError as e:
            print('error downloading ' + file)
            print(e)

#Util for placing csv directly into a dataframe from s3
def get_dataframe(file):
    #There are some optional libraries that would let you read in a DF like:
    #pd.read_csv('s3://'+BUCKET+'/'+filename)
    #Since I don't see the dependency listed, I grab the CSV using the boto3 resource
    try:
        csv = s3.Object(BUCKET,file)
    except botocore.exceptions.ClientError as e:
        #An example of a better way to handle logging an exception could be sending A SNS notification
            print('error grabbing ' + file)
            print(e)

    return pd.read_csv(csv.get()['Body'])

In [5]:
#Just some code to download the csv's so I can check them out on my machine
download_csv(files)

In [6]:
#load each csv into a dataframe
bengals = get_dataframe(files[0])
boyd = get_dataframe(files[1])
chase = get_dataframe(files[2])
higgins = get_dataframe(files[3])

In [7]:
#rename the columns to avoid issues when joining
boyd = boyd.rename(columns={col:col+'_Boyd' for col in boyd.columns if col != 'Week'})
chase = chase.rename(columns={col:col+'_Chase' for col in chase.columns if col != 'Week'})
higgins = higgins.rename(columns={col:col+'_Higgins' for col in higgins.columns if col != 'Week'})

#display DF's
display(boyd)
display(chase)
display(higgins)

     Week  Yards_Boyd  TD_Boyd
0    REG1          32        0
1    REG2          73        0
2    REG3          36        1
3    REG4         118        0
4    REG5          24        0
5    REG6           7        0
6    REG7          39        0
7    REG8          69        1
8    REG9          11        0
9   REG11          49        0
10  REG12          13        0
11  REG13          85        0
12  REG14          55        0
13  REG15          96        1
14  REG16          85        1
15  REG17          36        1
16  POST1          26        1
17  POST2          17        0
18  POST3          19        0
19  POST4          48        0

     Week  Yards_Chase  TD_Chase
0    REG1          101         1
1    REG2           54         1
2    REG3           65         2
3    REG4           77         0
4    REG5          159         1
5    REG6           97         0
6    REG7          201         1
7    REG8           32         1
8    REG9           49         0
9   REG11           32         1
10  REG12           39         0
11  REG13           52         0
12  REG14           77         2
13  REG15            3         0
14  REG16          125         0
15  REG17          266         3
16  REG18           26         0
17  POST1          116         0
18  POST2          109         0
19  POST3           54         1
20  POST4           89         0

     Week  Yards_Higgins  TD_Higgins
0    REG1             58           1
1    REG2             60           1
2    REG5             32           0
3    REG6             44           0
4    REG7             62           0
5    REG8             97           0
6    REG9             78           0
7   REG11             15           0
8   REG12            114           1
9   REG13            138           1
10  REG14            114           0
11  REG15             23           0
12  REG16            194           2
13  REG17             62           0
14  POST1             10           0
15  POST2             96           0
16  POST3            103           0
17  POST4            100           2

In [24]:
#group the recievers
receivers = [boyd,chase,higgins]
#set the index as week for all the DF
receivers = [df.set_index('Week') for df in receivers]
#join them together with the first df
merged_wr = receivers[0].join(receivers[1:], how='outer')

#Sort columns so TD's and Yard's are grouped together
merged_wr.sort_index(axis=1, inplace=True)

#REG18 is in the wrong spot, only 1 row so just manually swap it into place for now

#grab the row
reg18 = merged_wr.loc['REG18']
#remove it from the df
merged_wr.drop('REG18', inplace=True)
#concat it back into the df
merged_wr = pd.concat([merged_wr.iloc[:16], pd.DataFrame(reg18).T, merged_wr.iloc[16:]])

display(merged_wr)

       TD_Boyd  TD_Chase  TD_Higgins  Yards_Boyd  Yards_Chase  Yards_Higgins
REG1       0.0       1.0         1.0        32.0        101.0           58.0
REG2       0.0       1.0         1.0        73.0         54.0           60.0
REG3       1.0       2.0         NaN        36.0         65.0            NaN
REG4       0.0       0.0         NaN       118.0         77.0            NaN
REG5       0.0       1.0         0.0        24.0        159.0           32.0
REG6       0.0       0.0         0.0         7.0         97.0           44.0
REG7       0.0       1.0         0.0        39.0        201.0           62.0
REG8       1.0       1.0         0.0        69.0         32.0           97.0
REG9       0.0       0.0         0.0        11.0         49.0           78.0
REG11      0.0       1.0         0.0        49.0         32.0           15.0
REG12      0.0       0.0         1.0        13.0         39.0          114.0
REG13      0.0       0.0         1.0        85.0         52.0          138.0
REG14      0.0       2.0         0.0        55.0         77.0          114.0
REG15      1.0       0.0         0.0        96.0          3.0           23.0
REG16      1.0       0.0         2.0        85.0        125.0          194.0
REG17      1.0       3.0         0.0        36.0        266.0           62.0
REG18      NaN       0.0         NaN         NaN         26.0            NaN
POST1      1.0       0.0         0.0        26.0        116.0           10.0
POST2      0.0       0.0         0.0        17.0        109.0           96.0
POST3      0.0       1.0         0.0        19.0         54.0          103.0
POST4      0.0       0.0         2.0        48.0         89.0          100.0

In [26]:
#Now lets deal with the bengals csv
#set the index for the df to Week
bengals = bengals.set_index('Week')

final_df = bengals.join(merged_wr)

display(final_df)

,Opponent,Location,Result,TD_Boyd,TD_Chase,TD_Higgins,Yards_Boyd,Yards_Chase,Yards_Higgins
Week,,,,,,,,,
PRE1,TB,Away,1.0,NaN,NaN,NaN,NaN,NaN,NaN
PRE2,WSH,Away,0.0,NaN,NaN,NaN,NaN,NaN,NaN
PRE3,MIA,Home,0.0,NaN,NaN,NaN,NaN,NaN,NaN
REG1,MIN,Home,1.0,0.0,1.0,1.0,32.0,101.0,58.0
REG2,CHI,Away,0.0,0.0,1.0,1.0,73.0,54.0,60.0
REG3,PIT,Away,1.0,1.0,2.0,NaN,36.0,65.0,NaN
REG4,JAX,Home,1.0,0.0,0.0,NaN,118.0,77.0,NaN
REG5,GB,Home,0.0,0.0,1.0,0.0,24.0,159.0,32.0
REG6,DET,Away,1.0,0.0,0.0,0.0,7.0,97.0,44.0
REG7,BAL,Away,1.0,0.0,1.0,0.0,39.0,201.0,62.0
REG8,NYJ,Away,0.0,1.0,1.0,0.0,69.0,32.0,97.0
REG9,CLE,Home,0.0,0.0,0.0,0.0,11.0,49.0,78.0
REG10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
REG11,LV,Away,1.0,0.0,1.0,0.0,49.0,32.0,15.0
REG12,PIT,Home,1.0,0.0,0.0,1.0,13.0,39.0,114.0
REG13,LAC,Home,0.0,0.0,0.0,1.0,85.0,52.0,138.0
REG14,SF,Home,0.0,0.0,2.0,0.0,55.0,77.0,114.0
REG15,DEN,Away,1.0,1.0,0.0,0.0,96.0,3.0,23.0
REG16,BAL,Home,1.0,1.0,0.0,2.0,85.0,125.0,194.0
REG17,KC,Home,1.0,1.0,3.0,0.0,36.0,266.0,62.0
REG18,CLE,Away,0.0,NaN,0.0,NaN,NaN,26.0,NaN
POST1,LV,Home,1.0,1.0,0.0,0.0,26.0,116.0,10.0
POST2,TEN,Away,1.0,0.0,0.0,0.0,17.0,109.0,96.0
POST3,KC,Away,1.0,0.0,1.0,0.0,19.0,54.0,103.0
POST4,LAR,Neutral,0.0,0.0,0.0,2.0,48.0,89.0,100.0

In [27]:
#Map new values to the result column
final_df['Result'] = final_df['Result'].map({1:'Win', 0:'Loss'})

display(final_df)

,Opponent,Location,Result,TD_Boyd,TD_Chase,TD_Higgins,Yards_Boyd,Yards_Chase,Yards_Higgins
Week,,,,,,,,,
PRE1,TB,Away,Win,NaN,NaN,NaN,NaN,NaN,NaN
PRE2,WSH,Away,Loss,NaN,NaN,NaN,NaN,NaN,NaN
PRE3,MIA,Home,Loss,NaN,NaN,NaN,NaN,NaN,NaN
REG1,MIN,Home,Win,0.0,1.0,1.0,32.0,101.0,58.0
REG2,CHI,Away,Loss,0.0,1.0,1.0,73.0,54.0,60.0
REG3,PIT,Away,Win,1.0,2.0,NaN,36.0,65.0,NaN
REG4,JAX,Home,Win,0.0,0.0,NaN,118.0,77.0,NaN
REG5,GB,Home,Loss,0.0,1.0,0.0,24.0,159.0,32.0
REG6,DET,Away,Win,0.0,0.0,0.0,7.0,97.0,44.0
REG7,BAL,Away,Win,0.0,1.0,0.0,39.0,201.0,62.0
REG8,NYJ,Away,Loss,1.0,1.0,0.0,69.0,32.0,97.0
REG9,CLE,Home,Loss,0.0,0.0,0.0,11.0,49.0,78.0
REG10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
REG11,LV,Away,Win,0.0,1.0,0.0,49.0,32.0,15.0
REG12,PIT,Home,Win,0.0,0.0,1.0,13.0,39.0,114.0
REG13,LAC,Home,Loss,0.0,0.0,1.0,85.0,52.0,138.0
REG14,SF,Home,Loss,0.0,2.0,0.0,55.0,77.0,114.0
REG15,DEN,Away,Win,1.0,0.0,0.0,96.0,3.0,23.0
REG16,BAL,Home,Win,1.0,0.0,2.0,85.0,125.0,194.0
REG17,KC,Home,Win,1.0,3.0,0.0,36.0,266.0,62.0
REG18,CLE,Away,Loss,NaN,0.0,NaN,NaN,26.0,NaN
POST1,LV,Home,Win,1.0,0.0,0.0,26.0,116.0,10.0
POST2,TEN,Away,Win,0.0,0.0,0.0,17.0,109.0,96.0
POST3,KC,Away,Win,0.0,1.0,0.0,19.0,54.0,103.0
POST4,LAR,Neutral,Loss,0.0,0.0,2.0,48.0,89.0,100.0

In [34]:
#Alot of the data converted to floats, due to missing values
#Lets fix that before inserting into the table, since they were ints in the csv
columns_list = final_df.columns.values.tolist()
columns_dict = {col : 'Int64' for col in columns_list if 'TD' in col or 'Yards' in col}
final_df = final_df.astype(columns_dict)

display(final_df)

,Opponent,Location,Result,TD_Boyd,TD_Chase,TD_Higgins,Yards_Boyd,Yards_Chase,Yards_Higgins
Week,,,,,,,,,
PRE1,TB,Away,Win,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
PRE2,WSH,Away,Loss,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
PRE3,MIA,Home,Loss,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
REG1,MIN,Home,Win,0,1,1,32,101,58
REG2,CHI,Away,Loss,0,1,1,73,54,60
REG3,PIT,Away,Win,1,2,<NA>,36,65,<NA>
REG4,JAX,Home,Win,0,0,<NA>,118,77,<NA>
REG5,GB,Home,Loss,0,1,0,24,159,32
REG6,DET,Away,Win,0,0,0,7,97,44
REG7,BAL,Away,Win,0,1,0,39,201,62
REG8,NYJ,Away,Loss,1,1,0,69,32,97
REG9,CLE,Home,Loss,0,0,0,11,49,78
REG10,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
REG11,LV,Away,Win,0,1,0,49,32,15
REG12,PIT,Home,Win,0,0,1,13,39,114
REG13,LAC,Home,Loss,0,0,1,85,52,138
REG14,SF,Home,Loss,0,2,0,55,77,114
REG15,DEN,Away,Win,1,0,0,96,3,23
REG16,BAL,Home,Win,1,0,2,85,125,194
REG17,KC,Home,Win,1,3,0,36,266,62
REG18,CLE,Away,Loss,<NA>,0,<NA>,<NA>,26,<NA>
POST1,LV,Home,Win,1,0,0,26,116,10
POST2,TEN,Away,Win,0,0,0,17,109,96
POST3,KC,Away,Win,0,1,0,19,54,103
POST4,LAR,Neutral,Loss,0,0,2,48,89,100

In [ ]:
#Ibnse